# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.deb
*.so.*

libtorrent-rasterbar-1.0.4/configure
libtorrent-rasterbar-1.0.4/doc-pak/docs/client_test.png
libtorrent-rasterbar-1.0.4/docs/client_test.png
